{% extends 'base.html.twig' %}

{% block title %}Show lesson!{% endblock %}

{% block schoolId %}{{ schoolId }}{% endblock %}

{% block body %}
<div class="col-d-8">
    <h1>Lesson</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ lesson.name }}</td>
            </tr>
            <tr>
                <th>Teacher</th>
                <td>{{ lesson.teacher }}</td>
            </tr>
            <tr>
                <th>Room</th>
                <td>{{ lesson.room }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{{ lesson.date|date('l') }}</td>
            </tr>
            <tr>
                <th>Start Time</th>
                <td>{{ lesson.startTime|date('H:i') }}</td>
            </tr>
            <tr>
                <th>End Time</th>
                <td>{{ lesson.endTime|date('H:i') }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('lesson_edit', {'lessonId': lesson.id, 'schoolId': schoolId}) }}">edit</a>
    <a href="{{ path('lesson_delete', {'lessonId': lesson.id, 'schoolId': schoolId}) }}">delete</a>
</div>
{% endblock %}
